.hidden {
  display: none;
}

.max-width {
  padding: 0 $content-padding;
  margin: 0 auto;
  max-width: $layout-max-width;
}

.no-events {
  pointer-events: none;
}

.overflow-hidden {
  overflow: hidden;
}