@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.button {
  font-family: $font-family;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 0.75rem;
  align-items: center;
  justify-content: center;
  width: fit-content;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  z-index: 0;

  &:before {
    content: '';
    position: absolute;
    background: $purewhite;
    top: 100%;
    left: 0;
    right: 0;
    height: 100%;
    z-index: 0;
    @include prefix(transition, top 0.3s ease-in-out);
    z-index: -1;
  }

  &:hover:before {
    top: 0;
  }

  &.small {
    padding: 8px 12px;
    font-size: 0.875rem;
  }

  &.medium {
    padding: 10px 16px;
    font-size: 1rem;
  }

  &.large {
    padding: 12px 24px;
    font-size: 1.25px;
  }

  &.main {
    &.fill {
      background: $pink;
      border: 1px solid $pink;
      color: $purewhite;
      @include prefix(transition, color 0.3s ease-in-out);

      &:hover {
        color: darken($pink, 20)
      }

      &:before {
        background: lighten($pink, 20);
      }
    }
  }

  &.uppercase {
    text-transform: uppercase;
  }

  &.spaced {
    justify-content: space-between;
  }

  &.text-button {
    padding: 0;
    background: none;
    border: none;
  }
}