@import '../../scss/variables';
@import '../../scss/mixins';
@import '../../scss/functions';

.button {
	font-family: $font-family;
	font-size: 1rem;
	font-weight: 500;
	text-decoration: none;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 0.75rem;
	align-items: center;
	justify-content: center;
	width: fit-content;
	cursor: pointer;
	position: relative;
	overflow: hidden;
	z-index: 0;
	@include prefix(transition, (color 0.3s ease-in-out));

	&:before {
		content: '';
		position: absolute;
		background: $purewhite;
		top: 100%;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 0;
		@include prefix(transition, (top 0.3s ease-in-out));
		z-index: -1;
	}

	&:hover:before {
		top: 0;
	}

	&.small {
		padding: 8px 12px;
		font-size: 0.875rem;

		&.outline {
			padding: 7px 11px;
		}
	}

	&.medium {
		padding: 10px 16px;
		font-size: 1rem;

		&.outline {
			padding: 9px 15px;
		}
	}

	&.large {
		padding: 12px 24px;
		font-size: 1.25rem;

		&.outline {
			padding: 11px 23px;
		}
	}

	&.text-button {
		padding: 0;
		background: none;
		border: none;
		margin-bottom: 2px;

		&:before {
			height: 50%;
			@include prefix(transition, (top 0.15s ease-in-out));
		}

		&:hover:before {
			top: 50%;
		}
	}

	&.main {
		&.fill {
			background: $pink;
			color: $purewhite;
			border: none;

			&:hover {
				color: darken($pink, 20);
			}

			&:before {
				background: lighten($pink, 20);
			}
		}

		&.outline {
			background: transparent;
			color: $pink;
			border: 1px solid $pink;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $pink;
			}
		}

		&.white {
			background: $white;
			color: $pink;
			border: none;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $pink;
			}
		}

		&.text-button {
			padding: 0;
			background: none;
			border: none;
			color: $pink;

			&:hover {
				color: darken($pink, 20);
			}

			&.black-text {
				color: $black;
				&:hover {
					color: $black;
				}
			}

			&:before {
				background: lighten($pink, 20);
			}
		}
	}

	&.primary {
		&.fill {
			background: $blue;
			color: $purewhite;
			border: none;

			&:hover {
				color: darken($blue, 10);
			}

			&:before {
				background: lighten($blue, 30);
			}
		}

		&.outline {
			background: transparent;
			color: $blue;
			border: 1px solid $blue;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $blue;
			}
		}

		&.white {
			background: $white;
			color: $blue;
			border: none;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $blue;
			}
		}

		&.text-button {
			padding: 0;
			background: none;
			border: none;
			color: $blue;

			&:hover {
				color: darken($blue, 10);
			}

			&.black-text {
				color: $black;
				&:hover {
					color: $black;
				}
			}

			&:before {
				background: lighten($blue, 30);
			}
		}
	}

	&.secondary {
		&.fill {
			background: $black;
			color: $purewhite;
			border: none;

			&:hover {
				color: darken($black, 20);
			}

			&:before {
				background: lighten($black, 60);
			}
		}

		&.outline {
			background: transparent;
			color: $black;
			border: 1px solid $black;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $black;
			}
		}

		&.white {
			background: $white;
			color: $black;
			border: none;

			&:hover {
				color: $purewhite;
			}

			&:before {
				background: $black;
			}
		}

		&.text-button {
			padding: 0;
			background: none;
			border: none;
			color: $black;

			&:hover {
				color: $black;
			}

			&.black-text {
				color: $black;
				&:hover {
					color: $black;
				}
			}

			&:before {
				background: lighten($black, 60);
			}
		}
	}

	&.uppercase {
		text-transform: uppercase;
	}

	&.spaced {
		justify-content: space-between;
	}

	&.float {
		border-radius: 50%;
		&.small {
			padding: 8px;
		}

		&.medium {
			padding: 10px;
		}

		&.large {
			padding: 12px;
		}
	}
}
